.jumbotron{
    background-color: purple;
    color: white;
    /* min-width: 380px; */
}
/* nav{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
} */
.container{
    max-width: 1000px;
}
.mg{
    min-height: 1000px;
}
.row-main{
    height: 700px;
    /* min-width: 380px; */
}
.row-footer{
    height: 400px;
}
@media screen and (min-width: 380px) {
    .row-main{
        height: 700px;
    }
}
@media screen and (min-width: 576px) {
    .row-footer{
        height: 850px;
        margin-bottom: 50px;
    }
    .row-main{
        height: 850px;
        margin-bottom: 50px;
    }
}
@media screen and (min-width: 670px) {
    .row-footer{
        height: 650px;
        margin-bottom: 50px;
    }
    .row-main{
        height: 850px;
        margin-bottom: 50px;
    }
}
.pad{
    padding: 15px;
    /* min-width: 380px; */
}
.footer{
    background-color: rgba(145, 101, 187, .4);
    /* min-width: 380px; */
}
/* .jumbotron, .row-main, .pad, .footer{
    min-width: 380px;
} */
body{
    min-width: 381px;
    padding:50px 0px 0px 0px;
    z-index:0;
}
.breadcrumb{
    max-width: 1000px;
}